<html lang="en">
  <head>
    <title>Text Counter Application Using Flask</title>
  </head>
  <body>
    <h1>Text Counter Application Using Flask</h1>
    <form action="{{ url_for('calculate_text_counter') }}" method="post">
      <textarea name="text_content" rows="10" cols="80"></textarea><br />
      <input type="submit" value="Calaulate Text Count" />
    </form>
    <div id="output">
      Characters: {{ characters }}<br />
      Words: {{ words }}<br />
      Lines: {{ lines }}
    </div>
  </body>
</html>
